// ==========================================
// HOUSEHOLD RECYCLING TIPS PAGE
// ==========================================

#household-recycling-tips-page .content-section {
  margin: $margin-page;
  margin-top: $margin-section-vertical;
  width: $width-page;
}
