// ==========================================
// LIGHTING TIPS PAGE
// ==========================================

#lighting-tips-page .content-section {
  margin: $margin-page;
  margin-top: $margin-section-vertical;
  width: $width-page;
}

#lighting-tips-page a {
  text-decoration: none;
}
