// ==========================================
// LOCAL PRODUCE TIPS PAGE
// ==========================================

#local-produce-tips-page .content-section {
  margin: $margin-page;
  margin-top: $margin-section-vertical;
  width: $width-page;
}
