// ==========================================
// PLANT DIET TIPS PAGE
// ==========================================

#plant-diet-tips-page .content-section {
  margin: $margin-page;
  margin-top: $margin-section-vertical;
  width: $width-page;
}

#plant-diet-tips-page a {
  text-decoration: none;
}
