// ==========================================
// PROFILE PAGE
// ==========================================

#profile-page .content-section {
  margin: $margin-page;
  margin-top: $margin-section-vertical;
  position: relative;
  width: $width-page;
}

#profile-page .house-map {
  position: absolute;
  z-index: -15;
}

#profile-page .house {
  object-fit: contain;
  width: 100%;
}

#profile-page .link-solar-panel {
  clip-path: polygon(50% 42%, 0% 100%, 100% 100%);
  height: 42%;
  left: 6%;
  position: absolute;
  top: -7%;
  width: 71%;
  z-index: 10;
  -webkit-clip-path: polygon(50% 42%, 0% 100%, 100% 100%);
}

#profile-page .div-solar-panel {
  background: $gray;
  clip-path: polygon(50% 42%, 0% 100%, 100% 100%);
  height: 42%;
  left: 6%;
  position: absolute;
  top: -7%;
  width: 71%;
  z-index: -10;
  -webkit-clip-path: polygon(50% 42%, 0% 100%, 100% 100%);
}

#profile-page .link-lightbulb {
  height: 12%;
  left: 6%;
  position: absolute;
  top: 35%;
  width: 24%;
  z-index: 10;
}

#profile-page .div-lightbulb {
  background: $mustard;
  height: 12%;
  left: 6%;
  position: absolute;
  top: 35%;
  width: 24%;
  z-index: -10;
}

#profile-page .link-faucet {
  height: 12%;
  left: 30%;
  position: absolute;
  top: 35%;
  width: 23%;
  z-index: 10;
}

#profile-page .div-faucet {
  background: $red;
  height: 12%;
  left: 30%;
  position: absolute;
  top: 35%;
  width: 23%;
  z-index: -10;
}

#profile-page .link-thermostat {
  height: 12%;
  left: 53%;
  position: absolute;
  top: 35%;
  width: 23%;
  z-index: 10;
}

#profile-page .div-thermostat {
  background: $green;
  height: 12%;
  left: 53%;
  position: absolute;
  top: 35%;
  width: 23%;
  z-index: -10;
}

#profile-page .link-meat {
  height: 12%;
  left: 6%;
  position: absolute;
  top: 47%;
  width: 24%;
  z-index: 10;
}

#profile-page .div-meat {
  background: $green;
  height: 12%;
  left: 6%;
  position: absolute;
  top: 47%;
  width: 24%;
  z-index: -10;
}

#profile-page .link-produce {
  height: 12%;
  left: 30%;
  position: absolute;
  top: 47%;
  width: 23%;
  z-index: 10;
}

#profile-page .div-produce {
  background: $mustard;
  height: 12%;
  left: 30%;
  position: absolute;
  top: 47%;
  width: 23%;
  z-index: -10;
}

#profile-page .link-recycle {
  height: 11%;
  left: 6%;
  position: absolute;
  top: 59%;
  width: 24%;
  z-index: 10;
}

#profile-page .div-recycle {
  background: $red;
  height: 11%;
  left: 6%;
  position: absolute;
  top: 59%;
  width: 24%;
  z-index: -10;
}

#profile-page .link-garbage {
  height: 11%;
  left: 30%;
  position: absolute;
  top: 59%;
  width: 23%;
  z-index: 10;
}

#profile-page .div-garbage {
  background: $green;
  height: 11%;
  left: 30%;
  position: absolute;
  top: 59%;
  width: 23%;
  z-index: -10;
}

#profile-page .link-car {
  height: 23%;
  left: 53%;
  position: absolute;
  top: 47%;
  width: 41%;
  z-index: 10;
}

#profile-page .div-car {
  background: $mustard;
  height: 23%;
  left: 53%;
  position: absolute;
  top: 47%;
  width: 41%;
  z-index: -10;
}

#profile-page .score-value {
  @extend h1;
  color: $color-score;
  display: block;
  font-size: 5rem;
  font-weight: $font-weight-bold;
  margin-top: -25px;
  text-align: center;
}

#profile-page .score-label {
  @extend h6;
  display: block;
  font-size: 0.75rem;
  text-align: center;
}
