// ==========================================
// SIGN UP PAGE
// ==========================================

#sign-up-page .sign-up-section {
  margin: $margin-page;
  margin-top: $margin-section-vertical;
  width: $width-page;
}
