// ==========================================
// SOLAR PANEL TIPS PAGE
// ==========================================

#solar-panel-tips-page .content-section {
  margin: $margin-page;
  margin-top: $margin-section-vertical;
  width: $width-page;
}

#solar-panel-tips-page a {
  text-decoration: none;
}
