// ==========================================
// WATER CONSUMPTION TIPS PAGE
// ==========================================

#water-consumption-tips-page .content-section {
  margin: $margin-page;
  margin-top: $margin-section-vertical;
  width: $width-page;
}
