// ==========================================
// VARIABLES
// ==========================================

// COLORS

// Color Descriptions
$white: #fff;
$black: #0b0b0b;
$gray: lighten($black, 75%);
$mustard: #e9a92f;
$midnight: #292937;

// Color Functions
$color-body: $white;

$color-headline: $black;
$color-body-text: $black;
$color-link: $mustard;
$color-selection: lighten($mustard, 30%);
$color-box-shadow: rgba($black, 0.15);

$color-input: $black;
$color-button: $mustard;
$color-ad: $midnight;
$color-ad-link: $mustard;

$color-header: $mustard;
$color-footer: $white;

$color-header-title: $white;

$color-home-page: $mustard;


// FONTS

// Font Stacks
$font-stack-primary: 'Lato', sans-serif;
$font-stack-secondary: 'Montserrat', sans-serif;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font Sizes
$base-font-size: 16px;

// Letter Spacing

// Line Height
$line-height-body-text: 2rem;


// BORDERS

$border-size: 1px;

$border-input: $border-size solid $color-input;
$border-button: $border-size solid $color-button;


// MARGINS AND PADDING
$margin-page: 0 10%;
$margin-section-vertical: 50px;

$margin-paragraph: 25px;
$margin-input: 25px;
$margin-button: 35px;
$margin-ad: 25px;

$padding-ad: 25px 0;


// HEIGHTS AND WIDTHS
$width-page: 80%;

$height-button: 75px;
$width-button: 75px;

// PATHS

$path-image: "../images";


// BREAKPOINTS

$breakpoint-small: 0px;
$breakpoint-medium: 767px;
$breakpoint-large: 1025px;
