// ==========================================
// HEADER
// ==========================================

header {
  @include flexbox($justify: space-between);
  background: $color-header;
  height: 80px;
  width: 100%;
  z-index: 20;
}

.title {
  color: $color-header-title;
  text-align: center;
}
