// ==========================================
// ICONS
// ==========================================

.arrow-white {
  object-fit: contain;
  width: 55px;
}

.arrow-black {
  display: none;
  object-fit: contain;
  width: 55px;
}

.hamburger-menu-container {
  @include flexbox($direction: column);
  // border: 1.25px solid $black;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.hamburger-menu__row {
  border-bottom: 1.25px solid $white;
  height: 6px;

  @include m(top) {
    @extend .hamburger-menu__row;
    margin-top: -6px;
    width: 50%;
  }

  @include m(middle) {
    @extend .hamburger-menu__row;
    width: 66%;
  }

  @include m(bottom) {
    @extend .hamburger-menu__row;
    width: 50%;
  }
}

.x {
  display: none;
  object-fit: contain;
  width: 55px;
}
